<form method="post" action="/merchants/<%= @merchant.id%>">
  <label for="type">Merchant:</label>
  <input  id="name" type="text" value="<%= @merchant.name%>" name="name" />
    <input type="submit" value="Save changes"/>
</form>
