<!DOCTYPE html>
<html>
<head>
  <title> Spending Tracker </title>
  <div class="topnav">
          <a href="/">Home</a>
          <a href="/transactions">Transactions</a>
          <a href="/merchants">Merchants</a>
          <a href="/tags">Tags</a>
        </div>
  <link rel='stylesheet' href='/styles/structure.css'
<body> <%=yield%></body>

  </html>
