<!DOCTYPE html>
<html>
<head>
  <title> Spending Tracker </title>
<body> <%=yield%></body>
<nav>
    <ul>
      <li>
        <a href="/">Home</a>
      <li>
        <a href="/transactions">Transactions</a>
      </li>
      <li>
        <a href="/merchants">Merchants</a>
      </li>
      <li>
        <a href="/tags">Tags</a>
      </li>
    </ul>
  </nav>
  </html>
