
<form method="post" action="/tags/<%= @tag.id%>">
  <label for="type">Type:</label>
  <input  id="type" type="text" value="<%= @tag.type%>" name="type" />
    <input type="submit" value="Save changes"/>
</form>
