.topnav {
  font-size: 30px;
    background-color: #326bcc;
    overflow: hidden;
}
body {
  background: #5e5e5e url('/images/background_image.jpg');
  background-size: 200%;
  background-repeat: no-repeat;
  color: #326bcc;
  font-family: 'Arial', sans-serif;
  padding: 0px;
  margin: 0px;
}
 .welcome {
   color:#4080d1;
   font-size: 50px;
 }
 .topnav {

 }
