<h1>Add A New Transaction</h1>

<form method="post" action="/transactions">

  <label for="merchant-name">Merchant Name:</label>
    <input id="merchant-name" type="text" name="merchant_name"/>

    <label for="tag-select">Select a tag:</label>
    <select id="tag-select" name="tag">
        <option value="Groceries">Groceries</option>
          <option value="Food">Food</option>
          <option value="Entertainment">Entertainment</option>
    </select>
    <label for="amount">Amount:</label>
    <input id="amount" type="number" name="amount"/>

    <input type="submit" value="Add New Transaction"/>
  </form>
